<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">

        <title>Login</title>
      
        <link rel="stylesheet" href="signup.css">
    </head>
    <body>
        <h1>Login</h1>

        <form id = "form" action="/login" method="post">
            <label>Username: <input type="text" size = 29 id ="username" name="username">  </label>    
            <label>Password: <input type="password" size =30 id ="password" name="password"> </label>
            <p class="wrongentry">We did not find a match for this username and password, maybe this isn't the game for you. Try again.</p>
         <div class="buttonleft">
            <button type="submit" class="buttons">Login</button>
         </form>
            <a href="signup.html"><button type="button" class="buttons">Signup</button></a>
        </div>


    </body>
</html>