<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>LOGIN</title>

</head>
<body>
    <h2>Login failed. Please try again.</h2> 
    <form id="login" action="/login" method="post">
        <h3>Please Enter Username and Password</h3>
        <div class="username">
            <label id="username">Username:</label>
            <input required id="username" type="text" name="username" placeholder="Username"></br>
        </div>
        <div class="password">
            <label id="password">Password: </label>
            <input required id="password" type="password" placeholder="Password" name="password"></br>
        </div>
        <input type="submit" name="submit" value="Enter" class="searchbutton">
    </form>