button {
    margin-left: 3.5vw;
    float:left;
}
.buttons {
    border: 1px solid wheat;
    color: wheat;
    background-color: tomato;
    padding: 10px 40px;
    font-size: 20px;
    font-family: 'Copperplate', fantasy;
    display: block;
    width: 200px;
    margin-top: 1vh;
    }

body {
    background-color: #39CCCC;
}

h1 {
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 1vh;
    font-family: 'Copperplate', fantasy;
}

.home {
    margin: 15vh auto;
    width: 300px;
    height: 40vh;
    padding:100px;

    background-color: darkorange;
    box-shadow: 10px 10px chocolate, -1em -1em lightsalmon;
}

.flex-container > div{
    display: flex;
    flex-direction: column;
}