<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Home</title>
      
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <div class="home">
            <h1>Memory Match</h1>
            <div class="flex-container">
                <a href="/index"><button type="button" class="buttons">Play</button></a>
                <a href="/leaderboard"><button type="button" class="buttons">Leaderboard</button></a>
                <a href="/profile"><button type="button" class="buttons">Profile</button></a>
                <a href="/logout"><button type="button" class="buttons">Logout</button></a>
            </div>
        </div>
    </body>
</html>