<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leaderboard for theteam Memory Game</title>
    <link rel="stylesheet" href="leaderboardstyle.css">
    <script src="script.js" charset="utf-8"></script>
</head>
<body>
    <style>
        body {
          background-image: url('trophyback.jpeg');
        }
        </style>
    <div id="container">
        <div class="Jumbotron" id="leaderboard">
            <h1>
                Leaderboard for Memory Game
            </h1>
            <h2 class="scores">
            <div class="name">Player1</div><div class="score">430</div>
            <div class="name">Player2</div><div class="score">580</div>
            <div class="name">Player3</div><div class="score">310</div>
            <div class="name">Player4</div><div class="score">640</div>
            <div class="name">Player5</div><div class="score">495</div>
            </h2>
        </div>
    </div>


</body>
</html>