<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Signup</title>

  <link rel="stylesheet" href="signup.css">
  <script src="" charset="utf-8" ></script>
</head>
<body>
  
  <h1>Signup Form</h1>
 
  <form id = "form" action="/create_account" method="post">
    
    <label>Username: <input type="text" size = 29 id ="username" name="username">  </label>
    <label>Password: <input type="password" size =30 id ="password" name="password"> </label>
    <div class="signupbutton">
      <button type="submit" class="buttons">Signup</button>
    </div>
  </form>
  
</body>
</html>