
body{
    background: #39CCCC;
}

h1 {
    text-align: center;
    font-family: 'Copperplate', fantasy;
}

form{
    margin: 0 auto;
    width: 400px;
    padding:100px;

    background-color: darkorange;
    box-shadow: 10px 10px chocolate, -1em -1em lightsalmon;
}

input[type = "text"]{
    padding: 1px 5px;
    border-radius: 0px;
}

label{
    display: block;
    margin-bottom: 50px;
    font-family: 'Copperplate', fantasy;
}


button{
    margin-left: 5vw;
}

.signupbutton {
    margin-left: 5vw;
}

.buttons {
    border: 1px solid wheat;
    color: wheat;
    background-color: #39CCCC;
    padding: 8px 16px;
    font-size: 20px;
    font-family: 'Copperplate', fantasy;
}

.buttons:hover {
    background-color: aquamarine;
    color: black;
}

.buttonleft {
    float: left;
}

.wrongentry {
    color:chocolate;
    font-family: 'Copperplate', fantasy;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
